@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f0f0f3;
  --text-color: #2c2c2c;
  --link-color: #0056b3;
  --link-color-underline: #0056b355;
  --muted-color: #595959;
  --border-color: #d1d1d1;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #f5f5f5;
    --link-color: #5da5f6;
    --muted-color: #e1e0df;
    --link-color-underline: #5da5f655;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 15px;
  min-height: 100vh;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  margin-bottom: 2em;
}
.description {
  font-weight: 400;
  color: var(--muted-color);
}
.add-border {
  border-right: 2px solid var(--border-color);
}
.date {
  font-weight: 900;
  color: oklab(from var(--muted-color) 0.8 a b);
}

.project {
  cursor: s-resize;
}
.url:hover span {
  color: var(--link-color);
}

a:hover,
.url:hover {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--link-color-underline);
}

a,
.url {
  text-decoration: none;
  text-underline-offset: 1em;
  transition: all 0.5s ease;
}

.group:hover .absolute {
  height: 1500px;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body:has(.ee:hover) {
  background: linear-gradient(
    270deg,
    #d4a5a5,
    #d4b5a5,
    #d4c5a5,
    #d4d5a5,
    #d4e5a5,
    #a5d4a5,
    #a5d4b5,
    #a5d4c5,
    #a5d4d5
  );
  background-size: 800% 800%;
  animation: gradientBackground 3s ease infinite;
}

@media (max-width: 650px) {
  .project {
    grid-template-columns: 1fr;
  }

  .project .add-border {
    border-right: none;
  }
  .project * {
    padding-left: 0;
  }
  .project .url {
    margin-top: 0.6rem;
  }
  header {
    flex-direction: column !important;
  }
}
